<div class="sidebar">

  <button class="openbtn" style="outline:none" onclick="toggleNav()">☰</button>


</div>

<div id="mySidebar" class="expanding-sidebar">
  <div id="sideheading-container" style="text-align:center;margin-top:0px;">
    <button class="sidebar-heading" disabled > Matt Nguyen 
      <hr style="background-color:white">
    </button>
  </div>
  <hr style="margin:0px;padding:0px">
  <button class="side-button" onclick='window.location.replace("/")'>Home (WIP)<span style="float:right">></span></button>
  <hr style="margin:0px;padding:0px">
  <button class="side-button" onclick='window.location.replace("/work")'>Work History (WIP)<span style="float:right">></span></button>
  <hr style="margin:0px;padding:0px">
  <button class="side-button" onclick='window.location.replace("/education")'>Education<span style="float:right">></span></button>
  <hr style="margin:0px;padding:0px">
  <button class="side-button" onclick='window.location.replace("/skills")'>Skills (WIP)<span style="float:right">></span></button>
  <hr style="margin:0px;padding:0px">
  <button class="side-button" onclick='window.location.replace("/projects")'>Projects<span style="float:right">></span></button>
  <hr style="margin:0px;padding:0px">
  <button class="side-button" onclick='window.location.replace("/contact")'>Contact<span style="float:right">></span></button>
  <hr style="margin:0px;padding:0px">

  <div class="sidebar-footer">
    <div class="row">
        <a class="footerButton" href="../resources/pdf/Resume.pdf" download="Resume.pdf" width="100%" style="padding-top:0px;padding-bottom:0px">
          <button class="footerButton" style="margin:0px">Download Resume </button>
        </a>
    </div>
    <hr>
    <a href='https://linkedin.com/in/mattnguyen24'>
      <img src="../resources/img/linkedin.png" height="35px" width="35px">
    </a>
    <a href="https://github.com/mbn312/">
      <img src="../resources/img/github.png" height="35px" width="35px" style="margin-left:5px">
    </a>
    <a href='https://instagram.com/mattnguyen24'>
      <img src="../resources/img/instagram.png" height="35px" width="35px" style="margin-left:5px">
    </a>
  </div>
</div>
