<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div class="wrapper" id="main">
    <div class="jumbotron jumbotron-fluid" style="padding-left:1%;padding-right:1%;padding-bottom:50px;border-radius:1">
        <h1 style="margin-left:5%;margin-right:5%">Contact Info</h1>
        <hr class="my-4">
        <p style="margin-left:5%;margin-right:5%"> Coming Soon. </p>
    </div>
</div>

<%- include ("../partials/footer") %>