<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div class="wrapper" id="main">
	<div class="jumbotron jumbotron-fluid" style="padding-left:1%;padding-right:1%;border-radius:1">
        <h1 style="margin-left:5%;">About Me</h1>
        <hr class="my-4">
        <p style="margin-left:5%;margin-right:5%">Hello, thank you for taking the time to take a look at my website. As of right now, this page is still under construction, but all of the other pages should be good to go. I hope to hear from
          you soon. I am in the process of fixing an issue with the navigation side bar on smaller screens where some of the pages are hidden. Below are links to all of the pages in case you are not able to access them from the menu.
        </p>
        <p style="margin-left:5%;margin-right:5%">- Matt</p>
        <p style="margin-left:5%;margin-right:5%"><a href="/work">Work History</a></p>
        <p style="margin-left:5%;margin-right:5%"><a href="/education">Education</a></p>
        <p style="margin-left:5%;margin-right:5%"><a href="/skills">Skills</a></p>
        <p style="margin-left:5%;margin-right:5%"><a href="/projects">Projects</a></p>
        <p style="margin-left:5%;margin-right:5%"><a href="/contact">Contact Me</a></p>
      </div>
</div>
<%- include ("../partials/footer") %>