<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div class="wrapper" id="main">
	<div class="jumbotron jumbotron-fluid" style="padding-left:1%;padding-right:1%;border-radius:1">
        <h1 style="margin-left:5%;">About Me</h1>
        <hr class="my-4">
        <p style="margin-left:5%;margin-right:5%">Hello, thank you for taking the time to take a look at my website. As of right now, the website is still a work in progress. In the navigation menu, pages that are still being worked on will have (WIP)
          next to them. Project code will also be uploaded to github shortly. I hope to get the opportunity to work with you in the future.
        </p>
        <p style="margin-left:5%;margin-right:5%">- Matt</p>
      </div>
</div>
<%- include ("../partials/footer") %>