<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>

<div class="wrapper" id="main">
    <div class="jumbotron jumbotron-fluid" style="padding-left:1%;padding-right:1%;padding-bottom:50px;border-radius:1">
        <h1 style="margin-left:5%;margin-right:5%">Work History</h1>
        <hr class="my-4">
    </div>

    <div class="container">
        <hr class="my-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="../resources/img/m&c.png" alt="M&C Logo">
                    <div class="card body" style="text-align:center;padding-top:10px;padding-bottom:10px">
                        <h3>M&C Grill Sports Bar</h3>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p style="font-size:18px"><b>Location:</b> Rancho Santa Margarita, California</p>
                <p style="font-size:18px"><b>Worked:</b> May 2019 - August 2019</p>
                <p style="font-size:18px"><b>Description:</b> I worked at M&C Grill Sports Bar during the summer between my freshman and sophmore year in college. While my main role at the restaurant was as a busser, they also trained me as a 
                    server for whenever it got really busy or they just need someone to fill in. My main duties as a busser were handing out chips and salsa to customers, clearing plates from tables, cleaning and setting up tables after customers leave,
                    refilling drinks, doing dishes, cleaning the restaurant, and just helping customers with whatever they might need in general. As a server, I would show guests to table if there was no host, take orders and enter them into the system,
                    deliver food and drinks to tables, and helping customers with whatever they need. With my previous jobs being more fast food type restaurants, this was my first job where customer service was truly the most important part of my job. It
                    helped me build on my ability to create a relationship with customers that lead them wanting to come back again and again.</p>
            </div>
        </div>
        <hr class="my-4">
        <br>
        <hr class="my-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="../resources/img/cinnabon.png" alt="AA/C Logo">
                    <div class="card body" style="text-align:center;padding-top:10px;padding-bottom:10px">
                        <h3>Auntie Anne's/Cinnabon</h3>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p style="font-size:18px"><b>Location:</b> Mission Viejo, California</p>
                <p style="font-size:18px"><b>Worked:</b> December 2017 - June 2018</p>
                <p style="font-size:18px"><b>Description:</b> During my senior year of high school, I got a job working at a Auntie Anne's and Cinnabon store as a crew member. My duties included making pretzels and cinnamon rolls, 
                    taking orders, providing general customer service, keeping the store clean and stocked, and helping train new employees. When I first got this job, the store had not even been opened yet. Training started for everyone two days
                    before the store opened and around a week before Christmas. Due to the lack of experience of all the employees and the busy nature of the holiday season, the work enviroment was tough for a lot of people causing
                    a lot of people to quit, including all but one manager. Because of this, I was one of the employees with the most experience which led to me being tasked with helping train new employees and also being in charge when 
                    there were no managers on shift. These duties helped me build on my leadership skills by learning how to delegate tasks when I am in charge, making the final decision when problems arise, and being patient with the people
                    that I am training or am being tasked to lead.
                    </p>
            </div>
        </div>
        <hr class="my-4">
        <br>
        <hr class="my-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="../resources/img/mcdonalds.jpg" alt="McDonald's Logo">
                    <div class="card body" style="text-align:center;padding-top:10px;padding-bottom:10px">
                        <h3>McDonald's</h3>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p style="font-size:18px"><b>Location:</b> Mission Viejo, California</p>
                <p style="font-size:18px"><b>Worked:</b> December 16 - June 2017</p>
                <p style="font-size:18px"><b>Description:</b> I started working at McDonald's during my junior year of high school. As a crew member, my duties included taking orders and providing general customer service, keeping the store
                    clean and stocked, putting together orders and delivering them to customers, and making food in the kitchen.</p>
            </div>
        </div>
        <hr class="my-4">
    </div>
    </div>
</div>

<%- include ("../partials/footer") %>